
@model IEnumerable<MyLibrary.Models.BookRent>

@{
    ViewData["Title"] = "BookRent";
}


<link href="~/css/bookrent-index.css" rel="stylesheet" />




<div class="container">
    <h1 class="d-md-inline-flex">Book Rents</h1>
    <p class="d-sm-inline" style="margin-left:59%; ">
        <a class="btn btn-secondary btn-md active" role="button" asp-area="" asp-controller="Author" asp-action="Create" style="margin-left: 70px;
        margin-bottom: 10px;">Create New</a>
    </p>
</div>
<hr style="box-shadow:2px 2px 10px #23153d">
@* search form *@
<form method="post">
    <div class="input-group mb-3 col-5">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Find:</span>
        </div>
        <input type="number" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="keyword" id="keyword">
        <input type="submit" asp-action="Index" class="btn btn-info" value="Find" />
    </div>
</form>

<br />
<table class="table" id="table">
    <thead>
        <tr style="background-color:slategrey">
            <th class="align-content-xl-start">
            <th>
                @Html.DisplayNameFor(model => model.BookRentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookRentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RentDate)
                </td>
                <td>
                    <button class="btn btn-outline-dark" style="border-radius:3px 3px;">
                        @Html.ActionLink("Edit", "Edit", new { id = item.BookRentId })
                    </button>
                    <button class="btn btn-outline-dark" style="border-radius:3px 3px;">
                        @Html.ActionLink("Details", "Details", new { id = item.BookRentId })
                    </button>
                    <button class="btn btn-outline-dark" style="border-radius:3px 3px;">
                        @Html.ActionLink("Delete", "Delete", new { id = item.BookRentId })
                    </button>
                </td>
            </tr>
        }

    </tbody>
</table>

