@model IEnumerable<MyLibrary.Models.Client>

@{
    ViewData["Title"] = "Client";
}
@* search form *@
<form method="post">
    <div class="input-group mb-3 col-5">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Find:</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="keyword" id="keyword">
        <input type="submit" asp-action="Index" class="btn btn-info" value="Find" />
    </div>
</form>

<br />

<div class="container">
    <h1 class="d-md-inline-flex">Client</h1>
    <p class="d-sm-inline" style="margin-left:59%; ">
        <a class="btn btn-secondary btn-md active" role="button" asp-area="" asp-controller="Client" asp-action="Create" style="margin-left: 50px;
        margin-bottom: 10px;">Create New</a>
    </p>
</div>
<table class="table">
    <thead>
        <tr style="background-color:slategrey">
            <th>
                @Html.DisplayNameFor(model => model.ClientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    <button class="btn btn-outline-dark" style="border-radius:3px 3px;">
                        @Html.ActionLink("Edit", "Edit", new { id = item.ClientId })
                    </button>
                    <button class="btn btn-outline-dark" style="border-radius:3px 3px;">
                        @Html.ActionLink("Details", "Details", new { id = item.ClientId })
                    </button>
                    <button class="btn btn-outline-dark" style="border-radius:3px 3px;">
                        @Html.ActionLink("Delete", "Delete", new { id = item.ClientId })
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
