@model IEnumerable<MyLibrary.Models.Offer>

@{
    ViewData["Title"] = "Offers";
}


<script>
    // when page is loaded, checkout for authorization
    // if authorization is ok, show data
    // else redirect to login
    const populateList = async () => {
        var offers = await authorizedHttpReq('/offer/get-offers', 'GET');

        console.log(offers);
    }

    populateList();
</script>

<div class="container">
    <h1 class="d-md-inline-flex">Offers</h1>
    <p class="d-sm-inline" style="margin-left:59%; ">
        <a class="btn btn-secondary btn-md active" role="button" asp-area="" asp-controller="Offer" asp-action="Create" style="margin-left: 50px;
        margin-bottom: 10px;">Create New</a>
    </p>
</div>
<hr style="box-shadow:2px 2px 10px #23153d">
@* search form *@
<form method="post">
    <div class="input-group mb-3 col-5">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Find:</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="keyword" id="keyword">
        <input type="submit" asp-action="Index" class="btn btn-info" value="Find" />
    </div>
</form>
<br />

<table class="table">
    <thead>
        <tr style="background-color:slategrey">
            <th>
                @Html.DisplayNameFor(model => model.OfferId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Days)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OfferId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Days)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <button class="btn btn-outline-dark" style="border-radius:3px 3px;">
                        @Html.ActionLink("Edit", "Edit", new { id = item.OfferId })
                    </button>
                    <button class="btn btn-outline-dark" style="border-radius:3px 3px;">
                        @Html.ActionLink("Details", "Details", new { id = item.OfferId })
                    </button>
                    <button class="btn btn-outline-dark" style="border-radius:3px 3px;">
                        @Html.ActionLink("Delete", "Delete", new { id = item.OfferId })
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
