@model IEnumerable<MyLibrary.Models.Category>

@{
    ViewData["Title"] = "Category";
}

<div class="container">
    <h1 class="d-md-inline-flex">Category</h1>
    <p class="d-sm-inline" style="margin-left:59%; ">
        <a class="btn btn-secondary btn-md active" role="button" asp-area="" asp-controller="Category" asp-action="Create" style="margin-left: 50px;
        margin-bottom: 10px;">Create New</a>
    </p>
</div>
@*<div class=" container card">
    <div class="card-header " >
        <h5 class="col-6">

            @Html.DisplayNameFor(model => model.CategoryId)
        </h5>

        <h5 class="col-6">
            @Html.DisplayNameFor(model => model.Description)

        </h5>
    </div>
    <div class="card-body">
        @foreach (var item in Model)
        {
        <p> @Html.DisplayFor(modelItem => item.CategoryId)</p>
        <p>  @Html.DisplayFor(modelItem => item.Description)</p>

        }
    </div>
</div>*@

<table class="table">
    <thead>
        <tr style="background-color:slategrey">
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <button class="btn btn-outline-dark" style="border-radius:3px 3px;">
                    @Html.ActionLink("Edit", "Edit", new { id = item.CategoryId })
                </button>
                <button class="btn btn-outline-dark" style="border-radius:3px 3px;">
                    @Html.ActionLink("Details", "Details", new { id = item.CategoryId })
                </button>
                <button class="btn btn-outline-dark" style="border-radius:3px 3px;">
                    @Html.ActionLink("Delete", "Delete", new { id = item.CategoryId })
                </button>
            </td>
        </tr>
}
    </tbody>
</table>
