@model IEnumerable<MyLibrary.Models.Book>

@{
    ViewData["Title"] = "Books";
}

<link href="~/css/book-index.css" rel="stylesheet" />

<div class="container">
    <h1 class="d-md-inline-flex">Books</h1>
    <p class="d-sm-inline" style="margin-left:59%; ">
        <a class="btn btn-secondary btn-md active" role="button" asp-area="" asp-controller="Book" asp-action="Create">Create New</a>
    </p>
</div>
<hr style="box-shadow:2px 2px 10px #23153d">

@* search form *@
<form method="post">
    <div class="input-group mb-3 col-5">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Find:</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="keyword" id="keyword">
        <input type="submit" asp-action="Index" class="btn btn-info" value="Find" />
    </div>
</form>

<br />


<div class="container">
    <div class="row mb-4">
        @foreach (var item in Model)
        {
            <div class="col-md-3 col-sm-6">
                <div class="authors">
                    <img class="card-img-top" src="~/img/book.jpg" alt="Card image cap">

                    <div class="author-content">
                        <h5 class="card-title pl-1">@Html.DisplayFor(modelItem => item.Title)</h5>
                        <p class="card-text pl-1"> @Html.DisplayFor(modelItem => item.Summary)</p>
                        <p class="pl-1">@Html.DisplayNameFor(model => model.Publisher):@Html.DisplayFor(modelItem => item.Publisher)</p>
                        <p class="pl-1">@Html.DisplayNameFor(model => model.ISBN):@Html.DisplayFor(modelItem => item.ISBN)</p>
                        <p class="pl-1">@Html.DisplayNameFor(model => model.Pages):@Html.DisplayFor(modelItem => item.Pages)</p>
                        <p class="pl-1"> @Html.DisplayNameFor(model => model.UnitPrice):@Html.DisplayFor(modelItem => item.UnitPrice)</p>
                        <div class="mb-2">
                            <button class="btn">
                                @Html.ActionLink("Edit", "Edit", new { id = item.BookId })
                            </button>
                            <button class="btn">
                                @Html.ActionLink("Details", "Details", new { id = item.BookId })
                            </button>
                            <button class="btn">
                                @Html.ActionLink("Delete", "Delete", new { id = item.BookId })
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>
</div>
