@model IEnumerable<MyLibrary.Models.Book>

@{
    ViewData["Title"] = "Books";
}


<div class="container text-center">
    <h1 class="d-md-inline-flex">Books</h1>
    <p class="d-sm-inline" style="margin-left:59%; ">
        <a class="btn btn-secondary btn-md active" role="button" asp-area="" asp-controller="Book" asp-action="Create" style="margin-left: 80px;
        margin-bottom: 10px;">Create New</a>
    </p>
</div>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-3">
                <div class=" card" style="background-color:lightgrey; margin-right:5px;margin-bottom:10px;">
                    <div class="card-body p-0">
                        <img class="card-img-top" src="~/img/book.jpg" alt="Card image cap">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                        <p class="card-text"> @Html.DisplayFor(modelItem => item.Summary)</p>
                        <p>@Html.DisplayNameFor(model => model.Publisher):@Html.DisplayFor(modelItem => item.Publisher)</p>
                        <p>@Html.DisplayNameFor(model => model.ISBN):@Html.DisplayFor(modelItem => item.ISBN)</p>
                        <p>@Html.DisplayNameFor(model => model.Pages):@Html.DisplayFor(modelItem => item.Pages)</p>
                        <p> @Html.DisplayNameFor(model => model.UnitPrice):@Html.DisplayFor(modelItem => item.UnitPrice)</p>
                        <div>
                            <button class="btn btn-outline-dark" style="border-radius:3px 3px;">
                                @Html.ActionLink("Edit", "Edit", new { id = item.BookId })
                            </button>
                            <button class="btn btn-outline-dark" style="border-radius:3px 3px;">
                                @Html.ActionLink("Details", "Details", new { id = item.BookId })
                            </button>
                            <button class="btn btn-outline-dark" style="border-radius:3px 3px;">
                                @Html.ActionLink("Delete", "Delete", new { id = item.BookId })
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>
</div>
   